<body>
    <h1>Employment Tribunal Development And Test Environment</h1>
    <p><a href="http://et1.${SERVER_DOMAIN}:${SERVER_PORT}">ET1 System et1.${SERVER_DOMAIN}:${SERVER_PORT}</a></p>
    <p><a href="http://et3.${SERVER_DOMAIN}:${SERVER_PORT}">ET3 System et3.${SERVER_DOMAIN}:${SERVER_PORT}</a></p>
    <p>API Sytem api.${SERVER_DOMAIN}:${SERVER_PORT}</p>
    <p><a href="http://admin.${SERVER_DOMAIN}:${SERVER_PORT}/admin">Admin System admin.${SERVER_DOMAIN}:${SERVER_PORT}</a></p>
    <p><a href="http://s3.${SERVER_DOMAIN}:${SERVER_PORT}">Private S3 server s3.${SERVER_DOMAIN}:${SERVER_PORT}</a></p>
</body>
