
tmp/**/*
!tmp/.gitkeep
config_aws.env
**/.DS_Store
node_modules
.bundle/
.vscode/
rubybin/
report*.html
cucumber_failures.log

.idea/shelf
.idea/modules
.idea/markdown-navigator
.idea/et-full-system.iml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml