[submodule "systems/et3"]
	path = systems/et3
	url = git@github.com:ministryofjustice/et3.git
[submodule "systems/et1"]
	path = systems/et1
	url = git@github.com:ministryofjustice/atet.git

[submodule "systems/admin"]
	path = systems/admin
	url = git@github.com:ministryofjustice/et-admin.git
[submodule "systems/api"]
	path = systems/api
	url = git@github.com:ministryofjustice/et_api.git
[submodule "systems/atos"]
	path = systems/atos
	url = git@github.com:ministryofjustice/et_atos_file_transfer.git
