version: '3'
services:
  test:
    build:
      context: .
    links:
      - zalenium
    environment:
      SELENIUM_URL: 'http://zalenium:4444/wd/hub'
      DRIVER: chrome
      AWS_ACCESS_KEY_ID: accessKey1
      AWS_SECRET_ACCESS_KEY: verySecretKey1
      AWS_REGION: 'us-east-1'
      AWS_ENDPOINT: 'http://s3.${SERVER_DOMAIN:-et.127.0.0.1.nip.io}:${SERVER_PORT:-3100}'
      AWS_S3_FORCE_PATH_STYLE: 'true'
      BUNDLE_WITH: development,test
      ENVIRONMENT:
      SCREENSHOT_S3_ACCESS_KEY_ID:
      SCREENSHOT_S3_BUCKET:
      SCREENSHOT_S3_KEY_PREFIX:
      SCREENSHOT_S3_REGION:
      SCREENSHOT_S3_SECRET_ACCESS_KEY:
    volumes:
      - ../../:/app
      - test_gem_cache:/usr/local/bundle
    networks:
      - test_framework
  zalenium:
    image: "dosel/zalenium"
    hostname: zalenium
    tty: true
    volumes:
      - /tmp/videos:/home/seluser/videos
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "${SELENIUM_PORT:-4444}:4444"
    command: >
      start --desiredContainers 2
            --maxDockerSeleniumContainers 8
            --screenWidth 1280 --screenHeight 720
            --timeZone "Europe/Berlin"
            --videoRecordingEnabled true
            --sauceLabsEnabled false
            --browserStackEnabled false
            --testingBotEnabled false
            --startTunnel false
    environment:
      HOST_UID:
      HOST_GID:
      SAUCE_USERNAME:
      SAUCE_ACCESS_KEY:
      BROWSER_STACK_USER:
      BROWSER_STACK_KEY:
      TESTINGBOT_KEY:
      TESTINGBOT_SECRET:
      zalenium_https_proxy: http://proxyout.reform.hmcts.net:8080

    networks:
      - test_framework

volumes:
  test_gem_cache:
networks:
  test_framework:
    external:
      name: ${DOCKER_ET_NETWORK:-docker_et_full_system}
