server {
        listen *:${SERVER_PORT};
        server_name api.${SERVER_DOMAIN} api.et;
        location / {
           proxy_pass ${MY_API};
           proxy_set_header Host $http_host;
        }
}
