server {
    listen *:${SERVER_PORT};
    server_name azure_blob_storage.${SERVER_DOMAIN} azure_blob.et;
    location / {
       client_max_body_size 100M;
       proxy_pass http://azure_blob_storage.${SERVER_DOMAIN}:10000;
       proxy_set_header Host $http_host;
    }
}
