server {
    listen *:${SERVER_PORT};
    server_name s3.et.127.0.0.1.nip.io s3.et;
    location / {
       proxy_pass http://s3.et.127.0.0.1.nip.io:8000;
       proxy_set_header Host $http_host;
    }
}
