server {
    listen *:${SERVER_PORT};
    server_name mail.${SERVER_DOMAIN} mail.et;
    location / {
       client_max_body_size 100M;
       proxy_pass http://${SERVER_DOMAIN}:8025;
       proxy_set_header Host $http_host;
    }
}
